body{
  background-color:rgb(247,251,255);
  /* overflow-x: hidden; */
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
}

/* Buttons */
.btn{
  min-width: 48px;
  width: 100px;
  padding: 5px 16px;
  height: 27px;
  border-radius: 3px;
  border: solid 1px rgba(255, 255, 255, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary{
  background-color: rgb(241,173,134);
  border-color:rgb(241,173,134);
}

.learn-more-btn{
  margin-top: 2rem;
  color: rgb(255,255,255);
}

.fab-btn{
  margin-top: 1.5rem;
  background-color: rgb(255,255,255);
  color:rgb(241,173,134);
}

.pricing-btn {
  color: rgb(255,255,255);
}


/* Generic Headers */
.section-header{
font-size: 20px;
font-weight: bold;
padding-bottom: 1rem;
}

.underline{
  display: inline-block;
  border-bottom: 4px solid rgb(241,173,134);
  height: 35px;
}


/* HERO IMAGE  */

#landing {
  /* Hero Image */
  width: 100vw;
  height: 100vh;
  background: url(../images/hero-image-landing.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.overlay{
  background-color: rgba(4,84,109,0.34);
  width: 100vw;
  height:100vh;
}

/* message inside the hero image lander */
.container{
  left: 150px;
  color: white;
  position: absolute;
}

.welcome-msg{
  display: flex;
  flex-direction: column;
  width:60%;
}

.heading{
  font-size: 50px;
}

.message{
  line-height: 1.5;
  margin: 0.5rem 0 1.5rem 0;
}

.actions{
  display: flex;
}

.actions > .btn.btn-primary{
  margin-right: 1.5rem;
}

/* FLOATING ACTION ASIDE */
.floating-action-container{

  line-height: 1.5;
  color: rgb(255,255,255);
  background-color: rgb(241,173,134);

  /* Sizing */
  height:180px;
  width: 300px;
  padding: 2rem;

  /* Position */
  position: absolute;
  right:165px;
  bottom: -135px;

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fab-header {
  font-size: 30px;
}

/* WHY US SECTION */

#why-us{
  /* create some space for body grey to show and then float an action area */
  margin-top:130px;
  width: 100vw;
  /* Alignment */
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-us-img{
  height: 600px;
  width: 700px;
  object-fit: cover;
}

.why-us-msg-container {
  padding: 4rem;
  height: 300px;
  background-color: rgb(255,255,255);

  /* Child Alignment */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-us-msg{
  line-height:1.5;
}
/*
<------------------------   SHARED STYLES BETWEEN PRICING AND SERVICES   ------------------------>

SERVICES & PRICING SECTION CONTAINER STYLING */
#service, #pricing, #testionials{
  padding: 4rem;
  margin-top: 1rem;
  width:80%;
  margin: 0 auto;

  /* FLEX */
  display: flex;
  flex-direction: column;
}

/* Service & Pricing Header  Styling*/
.service-header, .pricing-header, .testimonials-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.service-msg, .pricing-msg {
  display: flex;
}

.text {
  width: 60%;
  line-height: 1.5;
}

.view-more-services, .learn-more-about-pricing{
  /* FLEX */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-services-link, .learn-more-text-link{
  color: rgb(241,173,134);
}

/*
 <----------------------------------- SHARED STYLES END ----------------------------------->
*/

/* Service Card Container */
.services-container{
  display: flex;
  flex-wrap: wrap;
}
.service-card {
  /* SIZING */
  height: 250px;
  padding: 2rem;
  margin: 0 3rem 3rem 0;

  background-color: rgb(255,255,255);

  /* FLEX */
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
}

.card-header{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.icon{
  color:rgb(241,173,134);
  font-size: 4.5rem;
}
.icon-text{
  margin-top: 1rem;
  font-size: 20px;
}

.card-header > div > span{
  border-bottom: 2px solid rgb(241,173,134);
  height: 30px;
}

.card-msg{
  line-height: 1.5;
}

/* BEHIND THE BACK STORY */

#behind-the-story{
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(255,255,255);

  /* Sizing */
  height: 400px;
  width: 100vw;

  /* Parallax image */
  background: url(../images/collaboration.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#behind-the-story > .overlay{
  height: 400px;
  position: absolute;
}

.story-container{
  width: 80%;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.story-header{
  font-size: 35px;
}

.story-text{
  margin: 1rem 0;
  line-height: 1.5;
  max-width: 500px;
}

.learn-more{
  margin: 1rem 0 2rem 0;
}

.stats{
  margin: 1rem 0;
  display: flex;
}

.stat{
  flex:1 0 25%;
}

.number{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}
.stat-name{
  font-size: 1.2rem;
  font-weight: 700;
}


/* PRICING SECTION STYLES */

.pricing-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}


/* PRICING CARD */
.pricing-card{
  background-color: rgb(255,255,255);

  min-height: 55vh;
  min-height: 55vh;
  width: 275px;
  margin: 1rem;
  padding: 2rem;

  flex-direction: column;
}

.pricing-card:nth-child(n+1){
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Plan Name */
.plan{
  font-size: 1.5rem;
  color:rgb(241,173,134);
}

/* Plan Cost container */
.plan-cost{
  display: flex;
  flex-flow: column;
  align-items: center;

  margin: 1rem;
}
/* $$ formatting */
.dollar-cost{
  font-size: 2.2rem;
  font-weight: bolder;
}

.per-month{
  margin: 0.5rem 0 0.5rem 0;
  color:rgb(241,173,134);
}

.plan-description{
  line-height: 3;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.not-included{
  color: rgb(209,210,213)
}







